body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #849d8f;
}

*:focus {
  outline: none;
}

.site-wrapper {
  background-color: #849d8f;
  background-image: url(../img/slide-1.png);
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

/*Псевдоэлементы с изображениями нужны только для предзагрузки картинок*/
.site-wrapper:before,
.site-wrapper:after {
  content: "";
  visibility: hidden;
}

.site-wrapper:before {
  background-image: url("../img/slide-2.png");
}

.site-wrapper:after {
  background-image: url("../img/slide-3.png");
}

h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* Шрифты */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Regular"),
       url("../fonts/roboto-regular-webfont.woff2") format("woff2"),
       url("../fonts/roboto-regular-webfont.woff") format("woff"),
       url("../fonts/Roboto-Regular.ttf") format("ttf"),
       url("../fonts/roboto-regular-webfont.eot") format("eot");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  src: local("Roboto-Bold"),
       url("../fonts/roboto-bold-webfont.woff2") format("woff2"),
       url("../fonts/roboto-bold-webfont.woff") format("woff"),
       url("../fonts/Roboto-Bold.ttf") format("ttf"),
       url("../fonts/roboto-bold-webfont.eot") format("eot");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: bold;
  src: local("Roboto-BoldItalic"),
       url("../fonts/roboto-bolditalic-webfont.woff2") format("woff2"),
       url("../fonts/roboto-bolditalic-webfont.woff") format("woff"),
       url("../fonts/Roboto-BoldItalic.ttf") format("ttf"),
       url("../fonts/roboto-bolditalic-webfont.eot") format("eot");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: normal;
  src: local("Roboto-Italic"),
       url("../fonts/roboto-italic-webfont.woff2") format("woff2"),
       url("../fonts/roboto-italic-webfont.woff") format("woff"),
       url("../fonts/Roboto-Italic.ttf") format("ttf"),
       url("../fonts/roboto-italic-webfont.eot") format("eot");
}

@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Medium"),
       url("../fonts/roboto-medium-webfont.woff2") format("woff2"),
       url("../fonts/roboto-medium-webfont.woff") format("woff"),
       url("../fonts/Roboto-Medium.ttf") format("ttf"),
       url("../fonts/roboto-medium-webfont.eot") format("eot");
}

@font-face {
  font-family: "Roboto-Medium";
  font-style: italic;
  font-weight: normal;
  src: local("Roboto-MediumItalic"),
       url("../fonts/roboto-mediumitalic-webfont.woff2") format("woff2"),
       url("../fonts/roboto-mediumitalic-webfont.woff") format("woff"),
       url("../fonts/Roboto-MediumItalic.ttf") format("ttf"),
       url("../fonts/roboto-mediumitalic-webfont.eot") format("eot");
}

/* Основные блоки */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

header.container {
  padding-top: 10px;
}

main.container {
  display: block;
}

footer.container {
  padding-top: 20px;
  padding-bottom: 26px;
}

/* Шапка */
.index-logo {
  margin-left: -5px;
}

.index-logo img {
  width: 154px;
  height: 64px;
}

/* Основная навигация */
.main-navigation {
  width: 691px;
  padding-left: 14px;
  padding-top: 12px;
}

.main-navigation li {
  margin: 0px;
  padding: 0px;
}

.main-navigation a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.main-navigation-1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  list-style-type: none;
}

.link>a {
  max-width: 200px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #ffffff;
}

.main-navigation-1 .link {
  position: relative;
}

.link span::after {
  content: "";
  position: absolute;
  right: 15px;
  left: 15px;
  bottom: 8px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.link>a:link, .link>a:visited {
  color: #ffffff;
}

.link>a:hover, .link>a:active {
  color: #323232;
  background-color: #f7f6f3;
  border-radius: 17px;
}

.link>a:active {
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.link:hover span::after {
  display: none;
}

/*Подложка под выпадающее меню*/
.catalog::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0px;
  width: 85px;
  height: 12px;
  background-color: transparent;
  opacity: 0;
}

/*Выпадающее меню*/
.main-navigation-2 {
  display: none;
}

 .catalog:hover .main-navigation-2 {
  position: absolute;
  top: 38px;
  left: -8px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 145px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  font-weight: normal;
  list-style-type: none;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.main-navigation-2:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-navigation-2 a, b {
  display: block;
  padding-left: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-decoration: none;
  color: #323232;
  border: none;
}

.main-navigation-2 b {
  margin-right: 8px;
  margin-left: 8px;
  padding-top: 13px;
  padding-bottom: 14px;
  padding-right: 12px;
  padding-left: 12px;
  font-weight: bold;
  border-bottom: 1px solid #d1d0ce;
}

.main-navigation-2>li:last-child>a {
  margin-bottom: 7px;
}

.main-navigation-2 a:hover {
  background-color: #fbded7;
}

.main-navigation-2 a:active {
  background-color: #f6b5a5;
}

a.active, a.active:hover, a.active:active, a.active:focus {
  color: #ffffff;
  background-color: #d07058;
}

.catalog>.active {
  border-radius: 17px;
}

.catalog .catalog-active::after {
  display: none;
}

/*Кнопки-формы*/
.buttons {
  width: 267px;
  margin-left: auto;
  padding-top: 12px;
}

.buttons ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.buttons li {
  position: relative;
  margin: 0px;
  margin-left: 10px;
  padding: 0px;
}

.buttons li:first-child {
  margin-left: 7px;
}

.search button {
  width: 33px;
  height: 33px;
  background-color: #a1b6aa;
  border: none;
  border-radius: 50%;
  cursor: pointer
}

.entry-btn>a, .basket-btn>a {
  position: relative;
  display: block;
  padding: 5px 8px 6px;
  text-decoration: none;
  color: #ffffff;
  background-color: #a1b6aa;
  border: none;
  border-radius: 35px;
  cursor: pointer;
}

.buttons span {
  font-family: "Roboto-Medium", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.entry-btn>a {
  padding-left: 43px;
  padding-right: 17px;
}

.basket-btn>a {
  padding-left: 43px;
  padding-right: 32px;
}

.search button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 17px;
  margin-left: -8px;
  margin-top: -10px;
  background-image: url(../img/spritesheet.png);
  background-position: -160px -5px;
  background-repeat: no-repeat;
}

.search button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  width: 17px;
  height: 17px;
  margin-left: -8px;
  margin-top: -10px;
  background-image: url(../img/logo-15.svg);
  background-repeat: no-repeat;
}

.search:hover button::after {
  display: block;
}

.search:hover button {
  background-color: #ffffff;
}

.style-search {
  display: none;
}

.search:hover .style-search {
  display: block;
  width: 308px;
}

.entry-btn span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 16px;
  width: 21px;
  height: 19px;
  margin-top: -9px;
  background-image: url(../img/spritesheet.png);
  background-position: -239px -5px;
  background-repeat: no-repeat;
}

.entry-btn span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 16px;
  display: none;
  width: 21px;
  height: 19px;
  margin-top: -9px;
  background-image: url(../img/logo-16.svg);
  background-repeat: no-repeat;
}

.entry-btn:hover span::after {
  display: block;
}

.entry-btn:hover>a {
  color: #323232;
  background-color: #ffffff;
}

.entry {
  display: none;
  width: 245px;
}

.entry-btn:hover .entry {
  display: block;
}

.form-field {
  position: absolute;
  top: 37px;
  right: 0px;
  z-index: 5;
  padding: 21px 16px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.buttons input, .block-2 input {
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0px;
  padding: 15px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

/*испытание лейбла*/
.label-hidden {
  position: absolute;
  top: 7px;
  left: 30px;
  display: none;
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
}

.label-hidden-2 {
  position: absolute;
  top: 78px;
  left: 30px;
  display: none;
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
}

input[placeholder], textarea[placeholder] {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

:focus::placeholder  {
  color: transparent;
}

:focus::-webkit-input-placeholder  {
  color: transparent;
}

:focus::-moz-placeholder  {
  color: transparent;
}

:focus:-moz-placeholder  {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

input[type="text"]:hover, input[type="password"]:hover,
input[type="email"]:hover, input[type="search"]:hover, textarea[name="text"]:hover {
  box-shadow: 0px 0px 0px 1px #c7c6c5;
}

input[type="text"]:focus, input[type="password"]:focus,
input[type="email"]:focus, input[type="search"]:focus, textarea[name="text"]:focus {
  border: 1px solid #8fbdec;
  box-shadow: 0px 0px 0px 1px #8fbdec;
}

/*испытание лейбла*/
input:focus + label.label-hidden,
input:focus + label.label-hidden-2,
textarea[name="text"]:focus + label.label-hidden-3 {
  display: block;
}

input[type="text"]:required, input[type="password"]:required,
input[type="email"]:required, input[type="search"]:required, textarea:required {
  color: #323232;
}

input[type="text"]:valid, input[type="password"]:valid,
input[type="email"]:valid, input[type="search"]:valid, textarea:valid {
  color: #323232;
}

input[type="text"]:invalid, input[type="password"]:invalid,
input[type="email"]:invalid, input[type="search"]:invalid, textarea:invalid {
  color: #323232;
}

input[type="text"]:required:not(:focus):valid + label,
input[type="password"]:required:not(:focus):valid + label,
input[type="email"]:required:not(:focus):valid + label,
input[type="search"]:required:not(:focus):valid + label,
textarea:required:not(:focus):valid + label {
  display: block;
  color: #323232;
}

.entry input {
  margin-bottom: 20px;
}

.check-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.btn {
  display: block;
  padding: 0px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  color: #fefefe;
  background: #f26843;
  background: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background: linear-gradient(to top, #e74a35, #f26843);
  border: none;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.btn:hover {
  background: -webkit-linear-gradient(bottom, #ec6f5e, #f58569);
  background: linear-gradient(to top, #ec6f5e, #f58569);
  box-shadow: 0px 2px 2px 0px #ac1000;
}

.btn:active {
  background: -webkit-linear-gradient(bottom, #e1613e, #d74632);
  background: linear-gradient(to top, #e1613e, #d74632);
  box-shadow: inset 0px 2px 2px 0px #942718;
}

.check-in button {
  padding: 12px 25px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 24px;
  box-shadow: 0px 1px 2px 0px #ac1000;
}

.check-in-links a {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  text-decoration: none;
  color: #323232;
  border-bottom: 1px solid #adacaa;
}

.basket-link>span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 16px;
  width: 21px;
  height: 20px;
  margin-top: -9px;
  background-image: url(../img/spritesheet.png);
  background-position: -270px -5px;
  background-repeat: no-repeat;
}

/*Полная корзина-кнопка*/
.basket-full {
  width: 116px;
}

.basket-full>a.basket-full-link {
  padding-right: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #323232;
  background-color: #f7f6f3;
}

.basket-full-link>span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 16px;
  width: 21px;
  height: 20px;
  margin-top: -9px;
  background-image: url(../img/spritesheet.png);
  background-position: -208px -5px;
  background-repeat: no-repeat;
}

.basket-form {
  display: none;
}

.basket-full:hover .basket-form {
  display: block;
}

/*Блок-форма корзины с товарами*/
.basket-form {
  width: 508px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  color: #323232;
}

.basket-form table {
  position: relative;
  margin: 0px;
  margin-bottom: 4px;
  padding: 0px;
  padding-left: 5px;
}

tr {
  height: 53px;
  vertical-align: top;
}

td:first-child {
  width: 20px;
  padding-top: 10px;
}

td:nth-child(2) {
  width: 47px;
}

.basket-form img {
  width: 33px;
  height: 33px;
  margin: 0px;
  padding: 0px;
}

td:nth-child(3) {
  width: 236px;
  padding-top: 10px;
  padding-right: 23px;
}

td:nth-child(4) {
  width: 114px;
  padding-top: 10px;
  text-align: center;
}

td:nth-child(5) {
  width: 85px;
  padding-top: 10px;
  text-align: center;
}

.basket-form button {
  width: 11px;
  height: 11px;
  margin: 0px;
  padding: 0px;
  background-color: #f8f7f4;
  background-image: url(../img/spritesheet.png);
  background-position: -187px -5px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.price-1 {
  color: #999999;
}

.sum {
  padding: 17px 0px;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  text-align: right;
  color: #333333;
  border-top: 1px solid #cacac7;
}

div.order {
  text-align: right;
}

.order-btn {
  display: inline-block;
  padding: 13px 14px;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 23px;
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.36);
}

/*Главная страница*/
.brief-information {
  float: right;
  min-width: 267px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-align: right;
}

.brief-information span {
  display: block;
  margin-top: 3px;
  font-size: 22px;
  line-height: 24px;
}

/*Слайдер*/
.slider {
  margin-bottom: 40px;
}

body>input[type="radio"] {
  display: none;
}

.slider {
  position: relative;
  padding-top: 318px;
  text-align: center;
  color: #ffffff;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60.35px;
  font-weight: bold;
}

.slide-btn {
  display: inline-block;
  padding: 11px 42px;
  font-size: 31px;
  line-height: 42px;
  vertical-align: top;
  text-decoration: none;
  color: #ffffff;
  border-radius: 100px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.slider-controls {
  position: absolute;
  bottom: 24px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.slider-controls label {
  width: 17px;
  height: 17px;
  margin-right: 8px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide {
  display: none;
}

#slider-btn-1:checked ~ .site-wrapper #slide-1,
#slider-btn-2:checked ~ .site-wrapper #slide-2,
#slider-btn-3:checked ~ .site-wrapper #slide-3 {
  display: block;
}

#slider-btn-1:checked ~ .site-wrapper label[for="slider-btn-1"],
#slider-btn-2:checked ~ .site-wrapper label[for="slider-btn-2"],
#slider-btn-3:checked ~ .site-wrapper label[for="slider-btn-3"] {
  background-color: #ffffff;
}

.site-wrapper label[for="slider-btn-1"]:hover,
.site-wrapper label[for="slider-btn-2"]:hover,
.site-wrapper label[for="slider-btn-3"]:hover {
  background-color: #b2c1b7;
}

#slider-btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#slider-btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#slider-btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

/*Баннеры*/
.banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.tasty-banners {
  width: 560px;
  margin: 0px;
  padding: 17px 18px;
  padding-bottom: 22px;
  box-sizing: border-box;
  color: #ffffff;
}

.tasty-banners:first-child {
  background-image: url(../img/raspberries.png);
  background-repeat: no-repeat;
}

.tasty-banners:nth-child(2) {
  background-image: url(../img/chocolates.png);
  background-repeat: no-repeat;
}

.banner-title {
  margin: 0px;
  margin-bottom: 14px;
  padding: 0px;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.banner-description {
  margin: 0px;
  padding: 0px;
  padding-bottom: 23px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.banner-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 22px;
}

.banner-btn {
  padding: 12px 21px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 24px;
}

/*Хиты*/
.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.items {
  position: relative;
  width: 267px;
  margin-bottom: 40px;
}

.items-image {
  width: 267px;
  height: 267px;
  margin: 0px;
  padding: 0px;
}

.hits .items-image::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 61px;
  height: 61px;
  background-image: url(../img/spritesheet.png);
  background-position: -47px -5px;
  background-repeat: no-repeat;
}

.items-price {
  position: absolute;
  top: 208px;
  left: 0px;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.items-price span {
  font-size: 30px;
}

.items-description {
  height: 45px;
  margin: 0px;
  padding: 0px;
  padding-top: 13px;
  overflow: hidden;
  font-family: "Roboto-Medium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  text-align: center;
}

.items-description .items-title {
  border-bottom: 1px solid #9db1a5;
}

.btn-review-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn-review {
  position: absolute;
  left: 17%;
  top: 335px;
  z-index: 20;
  display: none;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 19px;
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.64);
}

.items-wrapper {
  position: relative;
}

.items::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -13px;
  z-index: 10;
  display: none;
  width: 267px;
  min-height: 330px;
  padding: 6px 13px 70px;
  background-color: rgba(248, 247, 244, 0.3);
  border-radius: 4px;
  opacity: 0.3;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.items-wrapper:hover .items::before {
  display: block;
}

.items-wrapper:hover .btn-review  {
  display: block;
}

.items-wrapper:hover .items-title {
  border-bottom: none;
}

/*SEO*/
.seo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 23px 20px 15px;
  color: #323232;
  background-image: url(../img/pattern-1.jpg);
  border-radius: 12px;
}

.seo-1 {
  position: relative;
  width: 540px;
  padding-bottom: 11px;
}

.seo-description::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  margin: 0px;
  padding: 0px;
}

.seo-1:first-of-type .seo-description::before {
  width: 49px;
  height: 49px;
  background-image: url(../img/spritesheet.png);
  background-position: -301px -5px;
  background-repeat: no-repeat;
}

.seo-1:nth-of-type(2) .seo-description::before {
  width: 48px;
  height: 49px;
  background-image: url(../img/spritesheet.png);
  background-position: -419px -5px;
  background-repeat: no-repeat;
}

.seo-1:nth-of-type(3) .seo-description::before {
  width: 49px;
  height: 49px;
  background-image: url(../img/spritesheet.png);
  background-position: -360px -5px;
  background-repeat: no-repeat;
}

.seo-1:nth-of-type(4) .seo-description::before {
  width: 48px;
  height: 49px;
  background-image: url(../img/spritesheet.png);
  background-position: -477px -5px;
  background-repeat: no-repeat;
}

.slogan {
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
  font-family: "Roboto-Medium", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-style: normal;
}

.seo-description {
  margin: 0px;
  margin-left: 56px;
  padding: 0px;
  padding-top: 11px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

/*Новости*/
.news-delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.block {
  width: 560px;
  min-height: 220px;
  box-sizing: border-box;
  border-radius: 12px;
}

.block-1 {
  padding-top: 25px;
  padding-left: 20px;
  padding-bottom: 32px;
  padding-right: 240px;
  background-color: #ffffff;
  background-image: url(../img/strawberry.jpg);
  background-repeat: no-repeat;
}

.news-title {
  margin: 0px;
  margin-bottom: 5px;
  padding: 0px;
  font-family: "Roboto-Medium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  color: #323232;
}

.news-link {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #353535;
}

.news-link>span {
  color: #323232;
}

.news-link:hover, .news-link:active {
  color: #f9cdc4;
}

.news-link:hover span, .news-link:active span {
  color: #e84d37;
}

/*Рассылка*/
.delivery-wrapper {
  background-image: url(../img/pattern-2.jpg);
  background-repeat: repeat-x repeat-y;
}

.block-2 {
  position: relative;
  margin: 6px;
  padding: 30px 21px 30px;
  background-color: #f8f7f4;
  border-radius: 12px;
}

.block-2 p {
  margin: 0px;
  padding: 0px;
  padding-bottom: 37px;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.block-2 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.block-2 input {
  margin-right: 11px;
  padding: 10px 14px;
}

.block-2 .label-hidden {
  top: 117px;
  left: 36px;
  display: none;
}

.block-2 input[placeholder] {
  font-size: 16px;
}

.block-2 .send-btn {
  padding: 7px 17px 9px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 22px;
}

.map {
  position: relative;
  width: 1200px;
  height: 430px;
  margin-left: -27px;
  margin-right: -27px;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
}

.marker {
  position: absolute;
  top: 139px;
  left: 267px;
  width: 80px;
  height: 140px;
  background-image: url(../img/logo-8.png);
  background-repeat: no-repeat;
}

.contacts {
  position: absolute;
  top: 63px;
  right: 27px;
  z-index: 10;
  padding: 30px 26px;
  background-color: #fffefd;
  border-radius: 12px;
}

.contacts p {
  margin: 0px;
  margin-bottom: 16px;
  padding: 0px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.contacts p:last-child {
  margin-bottom: 0px;
}

.contacts span {
  display: block;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.feedback-btn {
  width: 250px;
  margin-top: 25px;
  padding-top: 9px;
  padding-bottom: 11px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
}

.contacts form {
  position: fixed;
  top: 30%;
  left: 50%;
  z-index: 50;
  display: none;
  width: 478px;
  margin-left: -239px;
  padding: 18px 25px 25px;
  box-sizing: border-box;
  background-color: #f8f7f4;
  border-radius: 8px;
}

.contacts .modal-content-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.feedback-form {
  position: relative;
  width: 478px;
  margin: 0 auto;
  padding: 18px 25px 25px;
  background-color: #f8f7f4;
  border-radius: 8px;
}

/* Всплывающая форма */
@keyframes bounce {
  0%   {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70%  {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90%  {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feedback-container {
  padding-bottom: 40px;
}

.feedback-form-title {
  margin-bottom: 20px;
  font-family: "Roboto-Medium", "Arial", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.contacts input, .contacts textarea,
.feedback-form input, .feedback-form textarea {
  display: block;
  margin-bottom: 20px;
  padding: 14px;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.contacts .label-hidden,
.feedback-form .label-hidden {
  position: absolute;
  top: 51px;
  left: 41px;
  display: none;
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
}

.contacts .label-hidden-2,
.feedback-form .label-hidden-2 {
  position: absolute;
  top: 122px;
  left: 41px;
  display: none;
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
}

.contacts .label-hidden-3,
.feedback-form .label-hidden-3 {
  position: absolute;
  top: 194px;
  left: 41px;
  display: none;
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
}

.contacts input[placeholder], .contacts textarea[placeholder],
.feedback-form input[placeholder], .feedback-form textarea[placeholder] {
  font-size: 16px;
}

.contacts input,
.feedback-form input {
  min-width: 236px;
}

.contacts textarea,
.feedback-form textarea {
  width: 100%;
  min-height: 155px;
  margin-bottom: 25px;
  box-sizing: border-box;
}

.send-btn-wrapper {
  text-align: right;
}

.send-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  border-radius: 25px;
}

.modal-content-close {
  position: absolute;
  top: 15px;
  right: 16px;
  width: 17px;
  height: 17px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -2px;
  width: 21px;
  height: 2px;
  background-color: #000000;
}

.modal-content-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-content-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.modal-overlay-show {
  display: block;
}

/*Подвал*/
.footer-social, .footer-copyright {
  width: 267px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 18px;
  font-size: 0px;
}

.social-btn {
  width: 32px;
  height: 32px;
  margin-right: 13px;
  border: 3px solid #c2cec7;
  border-radius: 50%;
}

.social-btn:hover {
  border: 3px solid #dae2de;
  opacity: 1;
}

.social-btn:active {
  border: 3px solid #d9e1dd;
  opacity: 0.7;
  box-shadow: inset 0px 2px 1px 0px #888888;
}

.social-btn-tw {
  background-image: url(../img/spritesheet.png);
  background-position: -560px -5px;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.social-btn-inst {
  background-image: url(../img/spritesheet.png);
  background-position: -118px -5px;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.social-btn-fb {
  background-image: url(../img/spritesheet.png);
  background-position: -5px -5px;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.social-btn-vk {
  background-image: url(../img/spritesheet.png);
  background-position: -603px -5px;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.footer-references {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 26px;
  padding-top: 15px;
}

.footer-references-1 {
  width: 138px;
  padding-left: 155px;
}

.footer-references-2 {
  width: 288px;
  padding-left: 5px;
}

.text-links {
  text-decoration: none;
  color: #ffffff;
}

.text-links:hover, .text-links:active {
  color: #ffbc9e;
}

.text-links span {
  border-bottom: 1px solid #a9bbb1;
}

.text-links:hover span, .text-links:active span {
  border-bottom: 1px solid #a7a294;
}

.footer-references a {
  display: block;
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
}

.footer-references-1 a:first-child, .footer-references-2 a:first-child {
  margin-bottom: 4px;
}

.footer-references .heart {
  position: absolute;
  top: 18px;
  left: 133px;
  width: 15px;
  height: 13px;
  background-image: url(../img/spritesheet.png);
  background-position: -535px -5px;
  background-repeat: no-repeat;
  border-bottom: none;
}

.footer-references .heart:hover, .footer-references .heart:active {
  border-bottom: none;
}

.footer-logo {
  display: block;
  width: 108px;
  height: 38px;
  background-image: url(../img/logo-10.png);
  background-repeat: no-repeat;
}

.footer-copyright {
  padding-left: 76px;
  box-sizing: border-box;
}

.footer-copyright p {
  margin-top: 6px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

/* Каталог */
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 16px;
  list-style-type: none;
  color: #ffffff;
}

.breadcrumbs>li {
  margin-top: 26px;
  margin-right: 8px;
}

.breadcrumbs a {
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs span {
  border-bottom: 1px solid #aebeb5;
}

.creamy {
  margin: 0px;
  margin-bottom: 25px;
  padding: 0px;
}

/*Форма выбора параметров*/
.selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 875px;
  margin-bottom: 40px;
}

.selection-sorting {
  width: 194px;
  margin-right: 16px;
  margin-bottom: 14px;
}

.selection-price {
  width: 218px;
  margin-right: 16px;
}

.selection-fatness {
  width: 429px;
}

.selection-fillers {
  width: 717px;
  margin-right: 16px;
}

.filters-wrapper {
  margin-top: 4px;
  padding: 6px 13px;
  font-family: "Roboto-Medium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #a9b9af;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 25px;
}

.apply-btn {
  display: block;
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 140px;
  margin: 0px;
  padding: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 2px solid #f5f6f5;
}

.selection-title {
  padding-left: 16px;
  font-family: "Roboto-Medium", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.selection-sorting option {
  color: #323232;
}

.selection-slider-wrapper {
  padding-top: 16px;
  padding-bottom: 16px;
}

.selection-slider {
  height: 4px;
  background-color: #cbd4cd;
  background-color: rgba(248, 247, 244, 0.5);
}

.slider-inner {
  position: relative;
  width: 118px;
  height: 4px;
  margin-left: 19px;
  background-color: #f8f7f4;
}

.slider-range {
  position: absolute;
  top: -200%;
  left: 0px;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #f8f7f4;
  border-radius: 50%;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.slider-range-2 {
  left: 100%;
  margin-left: -20px;
}

.selection-fatness label, .selection-fillers label {
  font-family: "Roboto-Medium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.selection-fatness input[type="radio"] {
  display: none;
}

.selection-fatness .filters-wrapper {
  padding: 10px 16px 9px;
}

.selection-fatness label {
  position: relative;
  margin-right: 14px;
  padding-left: 31px;
  cursor: pointer;
}

.selection-fatness input[type="radio"] + .radio-indicator {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  border: 1px solid #f8f7f4;
  border-radius: 50%;
}

.selection-fatness input[type="radio"]:checked + .radio-indicator::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background-color: #f8f7f4;
  border-radius: 50%;
}

.selection-fillers .filters-wrapper {
  padding: 8px 16px;
}

.selection-fillers input[type="checkbox"] {
  display: none;
}

.selection-fillers label {
  position: relative;
  margin-right: 20px;
  padding-left: 32px;
  cursor: pointer;
}

.selection-fillers label:last-child {
  margin-right: 0px;
}

.selection-fillers input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

.selection-fillers input[type="checkbox"]:checked + .checkbox-indicator::before,
.selection-fillers input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  height: 3px;
  background-color: #ffffff;
}

.selection-fillers input[type="checkbox"]:checked + .checkbox-indicator::before {
  top: 8px;
  left: 3px;
  width: 6px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.selection-fillers input[type="checkbox"]:checked + .checkbox-indicator::after {
  top: 7px;
  left: 6px;
  width: 9px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.selection-sorting .filters-wrapper:hover {
  color: #323232;
  background-color: #ffffff;
}

.apply-btn:hover {
  color: #323232;
  background-color: #ffffff;
  border: none;
}

.apply-btn:active {
  color: #323232;
  background-color: #eaeaea;
  border: none;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.slider-range:hover {
  width: 24px;
  height: 24px;
}

.slider-range-1:hover {
  top: -200%;
  left: 0px;
  margin-top: -2px;
  margin-left: -2px;
}

.slider-range-2:hover {
  top: -200%;
  left: 100%;
  margin-top: -2px;
  margin-left: -22px;
}

.selection-fatness input[type="radio"] + .radio-indicator:hover {
  width: 18px;
  height: 18px;
  border: 2px solid #f8f7f4;
}

.selection-fatness input[type="radio"] + .radio-indicator:hover::before {
  top: 3px;
  left: 3px;
}

.selection-fatness input[type="radio"]:disabled + .radio-indicator,
.selection-fatness input[type="radio"]:disabled + .radio-indicator:hover {
  width: 20px;
  height: 20px;
  border: 1px solid #b2c1b7;
  border: 1px solid rgba(248, 247, 244, 0.4);
}

.selection-fatness input[type="radio"]:disabled + .radio-indicator::before,
.selection-fatness input[type="radio"]:disabled + .radio-indicator:hover::before {
  top: 4px;
  left: 4px;
  background-color: #b2c1b7;
  background-color: rgba(248, 247, 244, 0.4);
}

.selection-fillers input[type="checkbox"] + .checkbox-indicator:hover {
  width: 16px;
  height: 16px;
  border: 2px solid #ffffff;
}

.selection-fillers input[type="checkbox"] + .checkbox-indicator:hover::before {
  top: 7px;
  left: 2px;
}

.selection-fillers input[type="checkbox"] + .checkbox-indicator:hover::after {
  top: 6px;
  left: 5px;
}

.selection-fillers input[type="checkbox"]:disabled + .checkbox-indicator,
.selection-fillers input[type="checkbox"]:disabled + .checkbox-indicator:hover {
  width: 18px;
  height: 18px;
  border: 1px solid #b5c4bc;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.selection-fillers input[type="checkbox"]:disabled + .checkbox-indicator::before,
.selection-fillers input[type="checkbox"]:disabled + .checkbox-indicator::after {
  background-color: #b5c4bc;
  background-color: rgba(255, 255, 255, 0.4);
}

.selection-fillers input[type="checkbox"]:disabled + .checkbox-indicator:hover::before {
  top: 8px;
  left: 3px;
}

.selection-fillers input[type="checkbox"]:disabled + .checkbox-indicator:hover::after {
  top: 7px;
  left: 6px;
}

/*Пагинация*/
.number-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 190px;
  margin: 0px;
  margin-left: auto;
  padding: 0px;
  padding-top: 38px;
  padding-bottom: 30px;
  text-align: center;
  vertical-align: center;
  list-style-type: none;
}

.number-btn li{
  width: 26px;
  height: 26px;
  margin: 0px;
  padding: 0px;
}

.number-btn a {
  display: block;
  width: 27px;
  height: 26px;
  padding-top: 4px;
  box-sizing: border-box;
  font-family: "Roboto-Medium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 50%;
}

.number-btn a:hover {
  background-color: #9db1a5;
  background-color: rgba(255, 255, 255, 0.2);
}

.number-btn a:active {
  color: #323232;
  background-color: #ffffff;
}

.number-btn li:first-child  {
  width: 25px;
  text-align: left;
}

.number-btn li:last-child {
  width: 25px;
  text-align: right;
}

.number-btn .first:hover, .number-btn .first:active {
  color: #ffffff;
  background: transparent;
}

.number-btn .last:hover, .number-btn .last:active {
  color: #ffffff;
  background: transparent;
}

.number-btn .number-active, .number-btn .number-active:hover, .number-btn .number-active:active {
  color: #323232;
  background-color: #ffffff;
}

.number-btn .number-non-active, .number-btn .number-non-active:hover, .number-btn .number-non-active:active {
  color: #9db1a5;
  color: rgba(255, 255, 255, 0.2);
  background: transparent;
}
